@import url('https://fonts.googleapis.com/css2?family=Agrandir:wght@300;400;500;600;700;900&display=swap');

:root {
  /* --font-family: "Onest", sans-serif;
  --font-family-headline: "Onest", san-serif; */
  font-family: 'Agrandir', sans-serif;
  /* font-family: 'Now', sans-serif; */
  --font-size-1: clamp(10px, 1.2vw, 12px);
  --font-size-2: clamp(12px, 1.2vw, 14px);
  --font-size-3: clamp(14px, 1.2vw, 16px);
  --font-size-4: clamp(16px, 1.2vw, 18px);
  --font-size-5: clamp(19px, 1.2vw, 21px);
  --font-size-6: clamp(25px, 1.2vw, 30px);
  --font-size-7: clamp(28px, 1.2vw, 36px);
  --font-size-8: clamp(36px, 1.2vw, 42px);

  --radius-corner: 0.35rem;
  --radius-corner-small: 0.28rem;

  --color-purple: #220C0C;
  --color-white: #FEFEFE;
  --dif-white: #E8E8E8;

  --color-primary: #FF5757;
  --color-primary02:#DD4141;
  --color-primary03:#923838;

  --color-gray-0: #FFFFFF;
  --color-gray-1: #F7F7F7;
  --color-gray-2: #EEEEEE;
  --color-gray-3: #dedede;
  --color-gray-4: #c2bfbf;
  --color-gray-5: #5D5D5D;
  --color-gray-6: #3D3D3D;
  --color-gray-7: #1B1B1B;
}

nav ul li a .fa-bars {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-links ul li:not(.dropdown) {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }
}

  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .dropdown > a .fa-bars {
      display: block;
      text-align: right;
      padding-right: 2rem;
  }

  .dropdown-content.show {
      display: block;
  }

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
    color: white;
}

.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.show {
  display: block;
}



body, h1, h2, ul, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  background-color: var(--color-purple);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.headimg {
height: 1rem;
width: 1rem;
text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-purple);
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline;
  margin: 0 15px;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-logo {
    order: -1;
    margin-bottom: 20px;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-links ul li a {
    display: block;
  }
}

.active-link {
  text-decoration: underline;
}

main {
  padding: 20px;
  background-color: #fff;
}

main section {
  margin-bottom: 20px;
}

footer {
  background-color: var(--color-purple);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

